---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div class="perfil">
	<div>
		<p>
			Soy un programador apasionado y lleno de energia, quiero ver que tanto progresa el mundo en estas decadas por los avances de las tecnologia y los nuevos modelos de IA.
			<br>
			Programador back End en mi tiempo libre, me gusta leer libros en realidad mangas sobre anime y me gusta mucho la musica.
		</p>
	</div>
	<div>
		<img src="/profile.webp" >
	</div>
</div>
